   <div id="background">
    <header>
        <div class="row">
            <div class="col">
                <h1 id="mh1">Chores to Do</h1>
            </div>
            <div 
                class="col-md-auto">
            </div>
            {{!-- <div class="col col-lg-2">
            </div> --}}
        </div>
    </header>
    {{!-- <nav>
        <a href="/">TEST</a>
    </nav> --}}
    <main class="container homepagelayout">
        <div class="row loginDets justify-space-between-md">
            <div class="col">
                {{!-- <aside>
                    <h2>Login</h2>
                </aside> --}}
                    {{!-- <div class="login">
                    {{{body}}} --}}
                        <div class="login-card">
                            <h2 class="page-title">Login</h2>
                                <form class="form login-form">
                                    <div class="form-group">
                                        <label for="username-login">Username:</label>
                                        <input class="form-input" type="text" id="username-login" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password-login">Password:</label>
                                        <input class="form-input" type="password" id="password-login" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">login</button>
                                    </div>
                                </form>
                        </div>
                    </div>
            </div>
            <div class="col">
                {{!-- <aside>
                    <h2>Signup</h2>
                </aside> --}}
                    {{!-- <div class="login">
                    {{{body}}} --}}
                        <div class="login-card">
                        <h2 class="page-title">Sign up?</h2>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" id="signup">Register</button>
                            </div>
                        <form class="form signup-form" id="signup-form">
                            <div class="form-group">
                                <label for="username-signup">Name:</label>
                                <input class="form-input" type="text" id="name-signup" />
                            </div>
                            <div class="form-group">
                                <label for="username-signup">Username:</label>
                                <input class="form-input" type="text" id="username-signup" />
                            </div>
                            <div class="form-group">
                                <label for="email-signup">Email:</label>
                                <input class="form-input" type="text" id="email-signup" />
                            </div>
                            <div class="form-group">
                                <label for="password-signup">Password:</label>
                                <input class="form-input" type="password" id="password-signup" />
                            </div>
                            <div class="form-group">
                                <label for="hint-signup">Hint:</label>
                                <input class="form-input" type="hint" id="hint-signup" />
                            </div>
                            <div class="form-group">
                                <label for="chartname-signup">Chart Name:</label>
                                <input class="form-input" type="chartname" id="chartname-signup" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit" id="save">Save</button>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/login.js" ></script>
    <script src="/js/parent.js" ></script>
