
#background {
    background-color: #1ecae1;
    background-image: url("main_page_bg.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;

}
#pBackground {
    background-color: rgb(116, 116, 116);
}
#cBackground {
    background-color: #2d85de;
}

#mh1 {
    font-family: 'Short Stack', cursive;
    font-size: 250%;
    font-weight:900;
    color:#e29eb5;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color:  rgba(127, 255, 212, 0.637);
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(100, 24, 24, 0.795);
    margin: auto;
    text-decoration: underline;
}
#ph1 {
    font-family: 'Short Stack', cursive;
    font-size: 500%;
    font-weight:900;
    color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: rgb(27, 27, 27);
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.171);
    margin: auto;
    text-decoration: underline;
}
#ch1 {
    font-family: 'Short Stack', cursive;
    font-size: 500%;
    font-weight:900;
    color: #ff0800;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: rgb(225, 255, 93);
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.171);
    margin: auto;
    text-decoration: underline;
}
h2{
    text-align: center;
    
}
#wrapper {
    width: 95%;
}

header {
    font-family: 'Short Stack', cursive;
    text-align: center;
}
main {
    text-align: center;
    font-family: 'Short Stack', cursive;
}

.loginbtn {
    color: rgb(218, 218, 218);
    font-size: 100%;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.199);
    text-align: center;
    width: 50px;
    border: 1px solid rgb(94, 94, 94);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349);
    border-radius: 4px;
    margin: 0;
    background-color: rgb(81, 82, 94);
    float: left;
    position: sticky;
}

/* .loginDets{
    padding-top: 50px ;
    color: rgba(127, 255, 212, 0.637);
    text-shadow: 0.5px 0.5px rgba(68, 134, 112, 0.637);
} */

.clsgnup {
    font-family: 'Short Stack', cursive;
    margin: auto;
    padding: 5%;
    border: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.637);
}

.login-card {
    padding-top: 50px ;
    color: rgba(0, 0, 0, 0.637);
    text-shadow: 0.5px 0.5px rgba(68, 134, 112, 0.637);
}

.homepagelayout {
    display: flex;
    flex-wrap: wrap;
}

.form {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}
.page-title{
    display: flex;
    flex-direction: row-reverse;
}

.signup-form {
    padding-right: 100px;
}

.login-form {
    padding-left: 100px;

}
.signup_pgt {
    padding-right: 100px;

}

.btn-primary {
    background-color: #e29eb5;
    border-color: rgba(100, 24, 24, 0.795);
}