
#background {
    background-color: #1ecae1;
}
#pBackground {
    background-color: rgb(116, 116, 116);
}
#cBackground {
    background-color: #2d85de;
}

#mh1 {
    font-family: 'Short Stack', cursive;
    font-size: 500%;
    font-weight:900;
    color: #D0392F;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: aquamarine;
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.171);
    margin: auto;
    text-decoration: underline;
}
#ph1 {
    font-family: 'Short Stack', cursive;
    font-size: 500%;
    font-weight:900;
    color: #f1f1f1;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: rgb(27, 27, 27);
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.171);
    margin: auto;
    text-decoration: underline;
}
#ch1 {
    font-family: 'Short Stack', cursive;
    font-size: 500%;
    font-weight:900;
    color: #ff0800;
    border: 1px solid rgba(0, 0, 0, 0.123);
    background-color: rgb(225, 255, 93);
    border-radius:  25px;
    width: 90%;
    height: 110%;
    text-align: center;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.171);
    margin: auto;
    text-decoration: underline;
}
h2{
    text-align: center;
    
}
#wrapper {
    width: 95%;
}

header {
    font-family: 'Short Stack', cursive;
    text-align: center;
}
main {
    text-align: center;
    font-family: 'Short Stack', cursive;
}

.loginbtn {
    color: rgb(218, 218, 218);
    font-size: 100%;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.199);
    text-align: center;
    width: 50px;
    border: 1px solid rgb(94, 94, 94);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349);
    border-radius: 4px;
    margin: 0;
    background-color: rgb(81, 82, 94);
    float: left;
    position: sticky;
}

.loginDets{
    color: #e6e659;
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.342);
}

.clsgnup {
    font-family: 'Short Stack', cursive;
    margin: auto;
    padding: 5%;
    border: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.637);
}

